
body {background: #fffbf4;}
h1 {
    text-align: center;
    color: #f89174;
    border-bottom: dotted 2px #f89174;
}
h2 {
    color: #f89174;
    border-bottom: solid 2px #f89174;
}

dl{
    width: 100%;
    overflow: hidden;
    border: 1px solid #f89174;
    border-top: none;
    background: #ffe4dc;
}
dt{
width: 25%;
float: left;
padding: 10px;
border-top: 1px solid #f89174;
box-sizing: border-box;
overflow-wrap: break-word;
}
dd{
margin-left: 25%;
padding: 10px;
border-left: 1px solid #f89174;
border-top: 1px solid #f89174;
background: #fffbf4;
}
dd:after{
display: block;
content: "";
clear: both;
}
@media screen and (max-width: 320px) {
dt{
    width: 100%;
    float: none;
}
dd{
    margin-left: auto;
    border-left: none;
}
}

div {font-weight: bold;}

.item1 {
    float: left;
    box-sizing: border-box;
    width: 65%;
}
.item2 {
    float: left;
    box-sizing: border-box;
    width: 35%;
}
.item3 {
    float: left;
    box-sizing: border-box;
    width: 35%;
}